<% layout("layouts/boilerplate") %>

<% block('styles') %>
     <link rel="stylesheet" href="/Styles/home.css">


<% if (msg) { %>
     <h3>
          <div class="container mt-2 pop-up text-center "> <%= msg %> </div> 
     </h3>
<% } %>

<div class="container data">
     <ul class="blog_data">
          <% for( let i of user_data) { %>
               <li> 
                    <div class="container body">
                         <div class="info">
                              <ion-icon name="person-circle-outline"></ion-icon>
                              <a href="BlogO/profile/<%=i.owner%>"><%=i.owner%></a>
                         </div>

                         <div class="user_blog">
                              <div class="title">
                                   <p><%=i.title%></p>
                              </div>
                         </div>
                    </div>     
               </li>
          <% } %>
     </ul>
</div>