<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/upload.css">

<div class="container-fluid mt-5">
    <form action="/BlogO/upload/<%=logged_id%>/post" method="post">
        <div class="container-fluid Article_head">
            <textarea name="title" id="title" cols="66" rows="2" placeholder="Article Title..." maxlength="115"></textarea>
        </div>

        <div class="container-fluid Article_body">
            <textarea name="body" id="body" cols="112" rows="15" placeholder="Article Body..."></textarea>
        </div>

        <button>Submit</button>
    </form>
</div>

<script src="/client/upload.js"></script>