<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/upload.css">
    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid mt-5">
    <form action="/BlogO/upload/<%=logged_id%>/post" enctype="multipart/form-data" method="post">

        <div class="img_upload container-fluid mt-5">
            <input type="file" name="cover" id="cover">
        </div>

        <div class="container-fluid Article_head">
            <textarea name="title" id="title" cols="65" rows="2" placeholder="Article Title..." maxlength="115"></textarea>
        </div>

        <textarea name="context" id="default"></textarea>

        <button>Post</button>

    </form>
</div>

<script src="/clients/tinymce/tinymce.min.js"></script>
<script src="/clients/upload.js"></script>