<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/upload.css">
    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid mt-5">
    <form action="/BlogO/upload/<%=logged_id%>/post" enctype="multipart/form-data" method="post">
        <div class="container-fluid Article_head">
            <textarea name="title" id="title" cols="62" rows="2" placeholder="Article Title..." maxlength="115"></textarea>
        </div>

        <div class="img_upload container-fluid mt-5">
            <input type="file" name="cover" id="cover">
        </div>

        <div id="example"></div>

        <button>Submit</button>
    </form>
</div>

<script src="/clients/upload.js"></script>
<script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
