<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/">


<div class="container tot-body">
    <div>
        <img src="" class="cover_img">

        <div class="title">
            <%= get_post.title %>
        </div>
    </div>
    
    <div class="content">
        <%- get_post.context %>
    </div>

    <script src="/clients/home.js"></script>
</div>