<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/upload.css">

<div class="container-fluid mt-5">
        <div class="container-fluid Article_head">
            <textarea name="title" id="title" cols="60" rows="2" placeholder="Article Title..." maxlength="115"></textarea>
        </div>

        <div class="container-fluid Article_body">
            <textarea name="body" id="body" cols="113" rows="10" placeholder="Article Body..."></textarea>
        </div>
</div>

<script src="/public/client/upload.js"></script>