<% layout("layouts/boilerplate") %>

    <div>
        <div class="top">
            <h1>Blog-O-App</h1>
        </div>

        <form action="/user/register/index" method="post">
            <div>
                <label for="username">UserName</label>
                <input type="text" name="username" id="username" placeholder="user_name">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="password">
            </div>

            <button>Submit</button>
        </form>
    </div>