#title{
    font-size: 2rem;
    font-weight: 700;
    resize: none;
    padding: 5px;
}

#body,p{
    font-size: 1.3rem;
    font-weight: 600;
}

#example{
    background-color : blue;
    height : 300px;
    width : 300px;
}