#title{
    font-size: 2rem;
    font-weight: 700;
    resize: none;
    padding: 5px;
    border-radius: 10px;
}

.img_upload{
    margin-bottom: 5px;
}

#body,p{
    font-size: 1.3rem;
    font-weight: 600;
}

div .tox-tinymce{
    margin-left: 12px;
}